.display {
  background-color: #1e293b;
  border-radius: 12px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: .5rem;
}

.display__history {
  min-height: 1.2rem;

  color: #94a3b8;

  font-size: .9rem;
}

.display__value {
  font-size: 3rem;

  font-weight: 600;

  color: white;

  word-break: break-all;
}