.display {
  background: var(--display);
  border-radius: 12px;
  padding: 20px;
  text-align: right;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: .5rem;
}

.display__history {
  min-height: 1.2rem;

  color:var(--text-muted);

  font-size: .9rem;
}

.display__value {
  font-size: 3rem;

  font-weight: 600;

  color: var(--text);

  word-break: break-all;
}